body{
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #19191A;
    font-family:Monaco,Georgia,Times,serif;
}

.gameboard{
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
}

.color{
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left{
    float: left;
}

.right{
    float: left;
}

.celeste{
    background: #1F7C11;
}

.celeste.light{
    background: #73F24F;
}

.celeste:hover{
    box-shadow: inset 0px 0px 0px 3px red;
    box-sizing: border-box;
}

.violeta{
    background: #F5231B;
}

.violeta.light{
    background: #F66C5E;
}

.violeta:hover{
    box-shadow: inset 0px 0px 0px 3px red;
    box-sizing: border-box;
}

.naranja{
    background: #FFFB35;
}

.naranja.light{
    background: #F7F686;
}

.naranja:hover{
    box-shadow: inset 0px 0px 0px 3px red;
    box-sizing: border-box;
}

.verde{
    background: #1B2CED;
}

.verde.light{
    background: #83C8F2;
}

.verde:hover{
    box-shadow: inset 0px 0px 0px 3px red;
    box-sizing: border-box;
}

.btn-start{
    width: 250px;
    height: 250px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 140px);
    border-radius: 50%;
    border-style: solid;
}

.hide{
    display: none;
}


section{
    /*height: 500px;*/
    width: 20%;
    height: 600px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: #F2E899;
    overflow: hidden;
    border: 1px solid black;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 black;
} 

.cuadro1 p{
    text-align: justify;
    color: black;
    padding: 25px;
}

.cuadro1 h2{
    text-align: center;
    padding: 5px 5px;
    margin-top: 20px;
}

.cuadro1 h3{
    margin-left: 20px;
}

.cuadro1 img{
    width: 190px;
    float: right;
    position: absolute;
    right: 105px;
    bottom: 0px;
}

.rin{
    width: 700px;
    height: 42px;
    background : black;
    color: white;
    font-size: 2.0rem;
    position: absolute;
    top: calc(60% - 455px);
    left: calc(34% - 20px);
    border: 1px solid;
}

.puntos{
    width: 20%;
    height: 150px;
    margin-left: 1300px;
    margin-top: 30px;
    background-color: #F2E899;
    overflow: hidden;
    border: 1px solid black;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 black;
}

.puntos h2{
    text-align: center;
    padding: 5px 5px;
    margin-top: 20px;
}

.puntos p{
    margin-left: 20px;
 }